:root {
    --primary-color: #3D348B;
    --secondary-color: #052c59;
    --accent1-color: #ACFCD9;
    --accent2-color: #D8BFAA;
    
    --heading-font: "Roboto";
    --paragraph-font: "Montserrat"; 
}

body {
font-family: var(--paragraph-font);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    background:  #3e3e3e;
nav {
    display: flex;
    justify-content: space-around; 
}
nav a {
    padding: 1em;
    color: #D8BFAA;
    font-family: var(--heading-font);
}
nav a:hover {
    background-color:#fff;
    color: #3D348B;

}

}    


.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}



.hero {
    position: relative;
}
.hero>img {
    width: 100%;
}
.hero>h1 {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff95;
    color: var(--secondary-color);
    padding: 1rem;
    font-size: 2em;
}
.hero>article {
    background-color: #ffffff80;
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
}
.hero>article>img {
    float: right;
    margin: 2rem;
    width: 13rem;
}
.hero>article>p {
    color: var(--secondary-color);
    font-size: 2rem;
    padding: 1.5rem;
    font-weight: 400;
}
.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2em;
    margin: 50px 0; 
}

footer {
    background-color: #3e3e3e;
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 2rem;
}
.social {
    grid-column: 3;
    justify-self: end;
}
.social>img {
    width: 3em;
}